.dashboard-style {
    margin: auto;
    margin-top: 20px;
    background-color: lightgrey;
    width: 100%;
    height: 80vh;
    margin-bottom: 50px;
    border: 1px solid black;
    /* overflow-y: auto; */
    
}
.container-dash{
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}
.dash-post {
    /* overflow-y: scroll; */
    
    background-color: white !important;
    float: left;
    width: 75%;
    height: auto;
    justify-items: center !important;
    overflow: scroll;
}

.title-style{
    text-align: center;
    margin-top: 20px;
}

.dash-profile {
    float: left;
    width: 25%;
    height: auto;
    overflow: scroll;
}

.dash-row{
    height: 100%;
    justify-items: center;
}

/* .container-scroll {
    overflow: scroll;
} */

